@charset "utf-8";
/* CSS Document */
.mail
{
	text-align:right;
}
.chef
{
	display:block;
	margin:0 auto;
	
}
.food{
	    text-align: center !important;
}
.mail
{
	text-align:right !important;
}
.lists{
	display: block !important;
	text-decoration:none;
	
}
.blog
{
width: 50px;
float: left !important;
	}
	
.navigation{
	display:inline-block;
	padding-top: 32px!important;
    padding-bottom: 32px!important;
	    white-space: normal;
		 
    
   
    
}

h3{
	font-family: "Karma", sans-serif;
	font-size: 24px;
    display: block;
    line-height: 1.5;
}

p
{
    text-align: center!important;
	font-size: 15px;
    line-height: 1.5;
}
.nav
{display:none;
}
@media(max-width:768px){
	.nav{
		display:block;
	}
}
